<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Home.aspx"></forms>
    </authentication>
    <!--<membership defaultProvider="MyAspNetSqlMembershipProvider">
      <providers>
        <add name="MyAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" requiresQuestionAndAnswer="false" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>-->
    <!--<webParts enableExport="true">
      <personalization>
        <authorization>
          <allow verbs="enterSharedScope" users="user1"/>
        </authorization>
      </personalization>
    </webParts>-->
  </system.web>
</configuration>