<?xml version="1.0"?>
<configuration>  
  <connectionStrings>
    <add name="MyLocalSqlServer" connectionString="Data Source=.;Initial Catalog=aspnetdb;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <system.web>
    <compilation debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Home.aspx"></forms>
    </authentication>
    
    <membership defaultProvider="MyAspNetSqlMembershipProvider">
      <providers>
        <add name="MyAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyLocalSqlServer" requiresQuestionAndAnswer="false" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>

    <!-- 
    <anonymousIdentification enabled="true"/>
    -->
    
    <profile defaultProvider="MyAspNetSqlProfileProvider">
      <providers>
        <add name="MyAspNetSqlProfileProvider" connectionStringName="MyLocalSqlServer" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
      <properties>
        <add name="MainBackColor"/>
        <add name="EnableCalendar" type="System.Boolean"/>
      </properties>
    </profile>
  </system.web> 
  
  <location path="secured">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>  
</configuration>