<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="DuplexBinding" sendTimeout="00:00:05">
            <reliableSession enabled="true" />
            <security mode="None" />
          </binding>
        </netTcpBinding>
        <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_ICal" />
        </wsDualHttpBinding>
      </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8888/MyCalCul" binding="netTcpBinding"
                bindingConfiguration="DuplexBinding" contract="ICal" />
            <endpoint address="http://localhost:8008/CCal.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ICal" contract="ServiceReference1.ICal"
                name="WSDualHttpBinding_ICal">
                <identity>
                    <servicePrincipalName value="host/wsu-bit-82-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>