<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StockQuotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IYahooQuotes">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IYahooQuotes"
                contract="YahooQuotes.IYahooQuotes" name="WSHttpBinding_IYahooQuotes">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <StockQuotes.Properties.Settings>
            <setting name="StockQuotes_YahooQuotes_YahooQuotes" serializeAs="String">
                <value>http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc</value>
            </setting>
        </StockQuotes.Properties.Settings>
    </applicationSettings>
</configuration>